[% start_year=2016 %]
=encoding UTF-8

=head1 NAME

Parse::Diagnostics - extract diagnostic messages from Perl source code

=head1 SYNOPSIS

    use Parse::Diagnostics 'parse_diagnostics';

=head1 VERSION

This documents version [% info.version %] of Parse::Diagnostics
corresponding to git commit L<[% commit.commit %]|[% info.repo
%]/commit/[% commit.commit %]> released on [% commit.date %].

=head1 DESCRIPTION

This module is a helper for writing documentation by extracting the
diagnostic messages in Perl files.

=head1 FUNCTIONS

=head2 parse_diagnostics

    my $diagnostics = parse_diagnostics ($file);

Extract a list of diagnostic messages from C<$file>. The return value
is an array reference containing hash values.

=over

=item type

The type of diagnostic, like "carp", "croak", etc.

=item message

The diagnostic message itself.

=item line

The line where the diagnostic begins.

=back

=head1 DEPENDENCIES

=over

=item L<Path::Tiny>

Path::Tiny is used to read the input files.

=item L<C::Tokenize>

C::Tokenize is used for making the regular expression for searching XS
and C files for diagnostics.

=back

[% INCLUDE "author" %]
